minecraft/.cache
minecraft/.mixin.out/
minecraft/backups/
minecraft/coremods/
minecraft/crash-reports/
minecraft/ESM/
minecraft/kiwipacks/
minecraft/local/
minecraft/logs/
minecraft/patchouli_books/
minecraft/saves/
minecraft/screenshots/
minecraft/server-resource-packs/
minecraft/shaderpacks/
minecraft/texturepacks/
minecraft/xaero/
minecraft/patchouli_data.json
minecraft/rhino.local.properties
minecraft/usercache.json
minecraft/usernamecache.json

!minecraft/.vscode/
!minecraft/config/
!minecraft/defaultconfigs/
!minecraft/kubejs/
!minecraft/mods/
!minecraft/resourcepacks/
!.gitignore.bak
!.gitignore.bak1
!icon.png
!knowkeys.txt
!options.txt